<div>
    </p>
    <h2>Advertisement Page.</h2>
    <section id="search">
        <h5>Search</h5>
        <form action="#" method="search" class="form">
            <table class="table">
                <tr>
                    <th>
                        <label class="col-md-2 control-label">Name</label><input class="form-controll" ng-model="searchAdvertismentName"   name="advertismentName" placeholder="Advertisment Name" />
                    </th>
                    <th>
                        <label class="col-md-2 control-label">Text</label><input class="form-controll" ng-model="searchAdvertismentTexts"  name="advertismentTexts" placeholder="Text" />
                    </th>
                    <th>
                        <label class="col-md-2 control-label">Text</label><input class="form-controll" ng-model="searchAdvertismentText2"   name="advertismentText2" placeholder="Text" />
                    </th>
                </tr>
                <tr><td></td><td></td><td></td></tr>
            </table>
        </form>
    </section>
    <h5>Details</h5>
    <table class="table">
        <tr>
            <th style="max-width: 100px !important; ">Screens</th>
            <th>Name</th>
            <th style="max-width:265px !important;">Texts</th>
            <!--<th>Images</th>-->
<!--            <th>Template</th>
            <th>Time Frames</th>-->
<!--            <th>Seconds</th>-->
            <th>Seconds</th>
        </tr>

        <tr ng-repeat ="advertisement in advertisements | filter:searchAdvertismentName  | filter:searchAdvertismentTexts | filter:searchAdvertismentText2">
            <!--<td>{{advertisement.screenArr}}</td>-->

            <td>
                <div ng-repeat ="screen in advertisement.screenArr">{{screen}}</div>
            </td>
            <td>{{advertisement.name}}</td>
            <!--<td>{{advertisement.texts}}</td>-->
            <td style="max-width:265px !important;">
                <div ng-repeat ="text in advertisement.texts">{{text}}</div>
            </td>
            <!--<td>{{advertisement.imgs}}</td>-->
<!--            <td>{{advertisement.templateURL}}</td>
            <td>{{advertisement.timeFrames}}</td>-->
            <td>{{advertisement.seconds}}</td>
<!--            <td>
                <button class="btn btn-default" ng-click="getEdit(screen)">Edit</button>
                <button class="btn btn-default" ng-click="deleteScreenByID(screen._id)">Delete</button>
            </td>-->
        </tr>
<!--        <tr>
            <th><button class="btn btn-default" ng-click="getMessageDistribution()">Messages distribution</button></th>
            <th><button class="btn btn-default" ng-click="showScreenExample()">Screen example</button></th>

        </tr>-->
    </table>
    <button class="btn" ng-click="getMessageDistribution()">Messages distribution</button></th>
    <button class="btn" ng-click="showScreenExample()">Screen example</button></th>
    <th><button class="btn" ng-click="useSocket()">Socket</button></th>
    </br>
</div>