<div>
    </p>
    <h2>Search Advertisement Page.</h2>
    <h5>Details</h5>
    <table class="table">
        <tr>
            <th style="max-width: 100px !important; ">Screens</th>
            <th>Name</th>
            <th style="max-width:265px !important;">Texts</th>
            <!--<th>Images</th>-->
<!--            <th>Template</th>
            <th>Time Frames</th>-->
<!--            <th>Seconds</th>-->
            <th>Seconds</th>
        </tr>

        <tr ng-repeat ="advertisement in searchedAdvertisement">
            <!--<td>{{advertisement.screenArr}}</td>-->

            <td>
                <div ng-repeat ="screen in advertisement.screenArr">{{screen}}</div>
            </td>
            <td>{{advertisement.name}}</td>
            <!--<td>{{advertisement.texts}}</td>-->
            <td style="max-width:265px !important;">
                <div ng-repeat ="text in advertisement.texts">{{text}}</div>
            </td>
            <!--<td>{{advertisement.imgs}}</td>-->
<!--            <td>{{advertisement.templateURL}}</td>
            <td>{{advertisement.timeFrames}}</td>-->
            <td>{{advertisement.seconds}}</td>
<!--            <td>
                <button class="btn btn-default" ng-click="getEdit(screen)">Edit</button>
                <button class="btn btn-default" ng-click="deleteScreenByID(screen._id)">Delete</button>
            </td>-->
        </tr>
<!--        <tr>
            <th><button class="btn btn-default" ng-click="getMessageDistribution()">Messages distribution</button></th>
            <th><button class="btn btn-default" ng-click="showScreenExample()">Screen example</button></th>

        </tr>-->
    </table>
    </br>
</div>